<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div>
            <h2 jhiTranslate="home.primaryIntroduction.title"></h2>
            <p><span jhiTranslate="home.primaryIntroduction.p_1_1"></span>
                <a href="https://github.com/Mesqualito/jhipster_de" target="_blank" jhiTranslate="home.primaryIntroduction.p_1_2"></a>
                <span jhiTranslate="home.primaryIntroduction.p_1_3"></span></p>

            <p jhiTranslate="home.primaryIntroduction.p_2"></p>
            <p jhiTranslate="home.primaryIntroduction.p_3"></p>
            <p jhiTranslate="home.primaryIntroduction.p_4"></p>
            <ul>
                <li jhiTranslate="home.primaryIntroduction.li_1"></li>
                <li jhiTranslate="home.primaryIntroduction.li_2"></li>
                <li jhiTranslate="home.primaryIntroduction.li_3"></li>
                <li jhiTranslate="home.primaryIntroduction.li_4"></li>
                <li jhiTranslate="home.primaryIntroduction.li_5"></li>
                <li jhiTranslate="home.primaryIntroduction.li_6"></li>
                <li jhiTranslate="home.primaryIntroduction.li_7"></li>
                <li jhiTranslate="home.primaryIntroduction.li_8"></li>
                <li jhiTranslate="home.primaryIntroduction.li_9"></li>
                <li jhiTranslate="home.primaryIntroduction.li_10"></li>
                <li jhiTranslate="home.primaryIntroduction.li_11"></li>
                <li jhiTranslate="home.primaryIntroduction.li_13"></li>
                <li jhiTranslate="home.primaryIntroduction.li_14"></li>
                <li jhiTranslate="home.primaryIntroduction.li_15"></li>
            </ul>
            <p jhiTranslate="home.primaryIntroduction.p_5"></p>
        </div>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{username: account.login}"></span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount"></span><br>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link"></a>
                <span jhiTranslate="global.messages.info.register.link2"></span>
            </div>
        </div>
        <p jhiTranslate="home.question"></p>
        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage"></a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener"
                   jhiTranslate="home.link.stackoverflow"></a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank"
                   rel="noopener" jhiTranslate="home.link.bugtracker"></a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener"
                   jhiTranslate="home.link.chat"></a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener"
                   jhiTranslate="home.link.follow"></a></li>
        </ul>
        <p>
            <span jhiTranslate="home.like"></span>
            <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener"
            jhiTranslate="home.github"></a>!
        </p>
    </div>
</div>
